<div class="container">
  <div class="d-flex p-4 flex-column align-items-center">
    <h4 class="p-3">Nuestros clientes</h4>
    <div class="break"></div>
  </div>
</div>
<div class="container py-2">
  <p-carousel
    [value]="clients"
    [numVisible]="3"
    [numScroll]="1"
    [showIndicators]="false"
    [responsiveOptions]="responsiveOptions"
    [autoplayInterval]="5000"
    [circular]="true"
  >
    <ng-template let-item pTemplate="item">
      <div class="gs-brands__card">
        <img
          class="gs-brands__card-wrapper-image"
          [src]="item.image"
          alt="Clientes"
        />
      </div>
    </ng-template>
  </p-carousel>
</div>
